body {
    margin: 0;
    background-color: #a446ac;
    font-family: 'Facu DEV', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contenedorimgyh1 {
    display: flex;
    background-color: blueviolet;
}

#logo {
    width: 100px;
    height: 100px;
}

.titulos {
    font-size: 40px;
    color: #d4a0d8;
}

#header {
    background-color: #a446ac;
}

nav {
    font-size: 25px;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    text-align: center;
}

main div {
    position: relative;
    width: 100%;
}

main img {
    width: 100%;
    height: auto;
}

#vers1 {
    position: absolute;
    top: 50%;
    left: 3%;
    color: #d4a0d8;
    font-weight: bold;
    font-size: 40px;
}

#vers2 {
    position: absolute;
    top: 75%;
    left: 35%;
    color: #d4a0d8;
    font-weight: bold;
    font-size: 40px;
}

#welcome {
    font-size: 18px;
    margin-top: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main h2 {
    font-size: 25px;
    color: beige;
}

.colorD {
    color: rgb(236, 240, 21);
    font-style: italic;
}

article {
    background-color: #a446ac;
    font-size: 25px;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    text-align: center;
}

article div {
    display: flex;
    justify-content: space-between;
    width: 560px;
    height: 315px;
}

article div iframe {
    border-radius: 15px;
}

footer h2 {
    width: 30%;
    height: 30%;
    margin-left: 38%;
    margin-right: 35%;
    color: yellow;
    font-family: "Facuu DEV", Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

footer div p img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 320px) {
    #grilla {
        display: grid;
        grid-template-areas:
            "header header"
            "nav nav"
            "main main"
            "article article"
            "footer footer";
        grid-template-columns: 60% 40%;
    }

    header {
        grid-area: header;
    }

    nav {
        grid-area: nav;
    }

    main {
        grid-area: main;
    }

    article {
        grid-area: article;
    }

    footer {
        grid-area: footer;
    }

    nav {
        display: flex;
        font-size: 15px;
    }

    article div {
        display: grid;
        padding-left: 0%;
    }

    #vers1 {
        top: 60%;
        left: 3%;
        font-size: 20px;
    }
    
    #vers2 {
        top: 50%;
        left: 35%;
        font-size: 20px;
    }

    .titulos {
        font-size: 25px;
        color: #d4a0d8;
    }

    footer h2 {
        display: flex;
        text-align: center;
        font-size: 20px;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 8px;
    }
    
    footer div p img {
        width: 20px;
        height: 20px;
    }
}


