#contenedorimgyh1 {
    display: flex;
    background-color: whitesmoke;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #a446ac;
}

#logo {
    width: 100px;
    height: 100px;
}

#header {
    background-color: #a446ac;
}

header {
    grid-area: header;
}