#contenedorimgyh1 {
    display: flex;
    background-color: whitesmoke;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #a446ac;
  }
  
  #logo {
    width: 100px;
    height: 100px;
  }
  
  .titulos {
    font-size: 70px;
    color: #d4a0d8;
  }
  
  #header {
    background-color: #a446ac;
  }