#gridContacto, #gridDE {
  display: grid;
  grid-template-areas: "header header" "nav nav" "footer article";
  grid-template-columns: 20% 80%;
}

#gridDE2 {
  display: grid;
  grid-template-areas: "h1 iframe" "p iframe";
  grid-template-columns: 30% 70%;
  grid-template-rows: 20% 80%;
}

#calendar {
  width: 150px;
  height: 150px;
}

#contenedorimgyh1 {
  display: flex;
  background-color: whitesmoke;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #a446ac;
}

#logo {
  width: 100px;
  height: 100px;
}

.titulos {
  font-size: 70px;
  color: #d4a0d8;
}

#header {
  background-color: #a446ac;
}

@media (max-width: 768px) {
  .titulos {
    font-size: 40px;
  }
  #vers1, #vers2, article div iframe {
    display: none;
  }
  footer h2 {
    text-align: center;
    font-size: 20px;
  }
  .contenedorfoot {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 20px;
  }
  #donde {
    display: none;
  }
  #dondeIgle {
    font-size: 19px;
    margin-right: 10%;
    text-align: justify;
  }
  #mapa {
    display: flex;
    width: 300px;
    height: 400px;
  }
}
nav {
  font-size: 25px;
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}
nav a {
  color: white;
  text-decoration: none;
}

footer h2 {
  width: 30%;
  height: 30%;
  margin-left: 38%;
  margin-right: 35%;
  margin-top: 40px;
  color: #a446ac;
  font-family: "Facu DEV", Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.contenedorfoot {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}

#youtubefoto {
  width: 70px;
}

footer div div img {
  width: 50px;
  height: 50px;
}
footer div a {
  text-decoration: none;
  color: #a446ac;
  display: flex;
}

body {
  margin: 0;
  background-color: white;
  font-family: "Facu DEV", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  text-align: center;
}
main div {
  position: relative;
  width: 100%;
}
main img {
  width: 100%;
  height: auto;
}

#vers1 {
  position: absolute;
  top: 70%;
  left: 15%;
  color: #d4a0d8;
  font-weight: bold;
  font-size: 40px;
}

#vers2 {
  position: absolute;
  top: 75%;
  left: 45%;
  color: #d4a0d8;
  font-weight: bold;
  font-size: 40px;
}

#welcome {
  font-size: 18px;
  margin-top: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #a446ac;
}

main h2 {
  font-size: 25px;
  color: beige;
}

.colorD {
  color: rgb(30, 255, 0);
  font-style: italic;
}

article {
  font-size: 25px;
  padding-left: 10%;
  padding-right: 10%;
  color: #a446ac;
  text-align: center;
}
article div iframe {
  border-radius: 15px;
}
article div a {
  text-decoration: none;
  color: #a446ac;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

footer {
  grid-area: footer;
  background-color: whitesmoke;
}

article {
  grid-area: article;
}

h1 {
  grid-area: h1;
}

iframe {
  grid-area: iframe;
}

p {
  grid-area: p;
}

/*# sourceMappingURL=style.css.map */
