nav {
  font-size: 25px;
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  grid-area: nav;
}
nav a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .titulos {
    display: flex;
    font-size: medium;
  }
  #vers1 #vers2 {
    display: none;
  }
  .contenedorfoot {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 20px;
  }
  #donde {
    display: none;
  }
  #dondeIgle {
    font-size: 19px;
    text-align: justify;
  }
  #mapa {
    display: flex;
    width: 100%;
    height: 400px;
  }
  footer h2 {
    display: none;
  }
  footer div a {
    font-size: 60%;
  }
  #mediaqcon {
    display: none;
  }
  .formgrid {
    font-size: 60%;
  }
  #calendar {
    display: none;
  }
  .QH {
    display: none;
  }
  #QH1 {
    width: 100%;
    font-size: smaller;
    font-style: italic;
  }
  #ACT {
    font-size: smaller;
  }
}
main {
  text-align: center;
}
main div {
  position: relative;
  width: 100%;
}
main img {
  width: 100%;
  height: auto;
}
main h2 {
  font-size: 25px;
  color: beige;
}

#vers1, #vers2 {
  position: absolute;
  color: #d4a0d8;
  font-weight: bold;
  font-size: 40px;
}

#vers1 {
  top: 70%;
  left: 15%;
}

#vers2 {
  top: 75%;
  left: 45%;
}

#welcome {
  font-size: 18px;
  margin-top: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #a446ac;
}

.colorD {
  color: rgb(30, 255, 0);
  font-style: italic;
}

#contenedorimgyh1 {
  display: flex;
  background-color: whitesmoke;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #a446ac;
}

#logo {
  width: 100px;
  height: 100px;
}

#header {
  background-color: #a446ac;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
  background: linear-gradient(to right, white, #a446ac, white);
}
footer h2 {
  width: 30%;
  height: 30%;
  margin-left: 38%;
  margin-right: 35%;
  margin-top: 40px;
  color: white;
  font-family: "Facu DEV", Arial, Helvetica, sans-serif;
  font-size: 30px;
}
footer div a {
  text-decoration: none;
  color: black;
  display: flex;
}
footer div div img {
  width: 50px;
  height: 50px;
}

.contenedorfoot {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}

#youtubefoto {
  width: 70px;
}

article {
  font-size: 25px;
  padding-left: 10%;
  padding-right: 10%;
  color: #a446ac;
  text-align: center;
  grid-area: article;
}
article div iframe {
  border-radius: 15px;
}
article div a {
  text-decoration: none;
  color: #a446ac;
}

.elemento {
  width: 300px;
  height: 300px;
  transition: transform 0.3s ease;
}
.elemento:hover {
  transform: scale(1.2);
}

.formgrid {
  display: grid;
  grid-template-areas: "div1 div2" "div3 div4";
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.div1 {
  grid-area: div1;
}

.div2 {
  grid-area: div2;
}

.div3 {
  grid-area: div3;
}

.div4 {
  grid-area: div4;
}

#fondocontacto {
  background: linear-gradient(to right, white, violet, yellow, white);
}

body {
  margin: 0;
  background-color: white;
  font-family: "Facu DEV", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.titulos {
  font-size: 70px;
  color: #d4a0d8;
}

#calendar {
  width: 25%;
}

/*# sourceMappingURL=style.css.map */
